{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/mimic_icon.png"/>
<link rel="icon" type="image/webp" href="{{ base_path }}/images/mimic_icon.webp"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/mimic_icon.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/mimic_icon.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/mimic_icon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Yifei Byron Chen",
        "jobTitle": "PhD Student",
        "affiliation": {
            "@type": "Organization",
            "name": "McGill University"
        },
        "url": "https://byronchen12138.github.io",
        "sameAs": [
            "https://scholar.google.com.co/citations?user=h_tuS9cAAAAJ",
            "https://github.com/ByronChen12138"
        ]
    }
</script>

<!-- end custom head snippets -->
